<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!--Define the storage address of the log file -->
	<springProperty scop="context" name="spring.application.name" source="spring.application.name" defaultValue=""/>
	<property name="LOG_HOME" value="logs" />

	<substitutionProperty name="log.pattern"
						  value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%thread]) %clr(%5p) %clr(---){faint} %clr(%logger{50}){cyan}%clr(:) %clr(%L){cyan} %m%n%wEx"/>
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

	<!-- console output -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--Formatted output: %d represents the date, %thread represents the thread name，%-5level：Level displays 5 characters width from left %msg: log message, %n is newline character -->
			<pattern>${log.pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter" >
			<!--The difference with ThresholdFilter, allowingonmatch-->
			<!--Set the log level to receive info level logs-->
			<level>DEBUG</level>
		</filter>
	</appender>

	<!-- WebSocket -->
	<appender name="websocket" class="com.genersoft.iot.vmp.conf.webLog.WebSocketAppender">
		<encoder>
			<pattern>${log.pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- Log files are generated every day. Logs of DEBUG level and above are only used in the test environment. For the official environment, logs of info level and above are used.-->
	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<!-- file path -->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--The file name of the historical log file output -->
			<FileNamePattern>${LOG_HOME}/wvp-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<!--Number of days to retain log files -->
			<MaxHistory>30</MaxHistory>
			<maxFileSize>20MB</maxFileSize>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--Formatted output: %d represents the date, %thread represents the thread name，%-5level：Level displays 5 characters width from left %msg: log message, %n is newline character -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%L - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!--The difference with ThresholdFilter, allowingonmatch-->
			<!--Set the log level to receive info level logs-->
			<level>DEBUG</level>
		</filter>
	</appender>

	<!-- Generate SIP log append -->
	<appender name="SipRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!--The file name of the historical log file output -->
			<FileNamePattern>${LOG_HOME}/sip-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<!--Number of days to retain log files -->
			<MaxHistory>30</MaxHistory>
			<maxFileSize>50MB</maxFileSize>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--Formatted output: %d represents the date, %thread represents the thread name，%-5level：Level displays 5 characters width from left %msg: log message, %n is newline character -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%L - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>


	<!-- Log output level -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="websocket" />
		<appender-ref ref="RollingFile"/>
	</root>

	<logger name="com.genersoft.iot.vmp.gb28181.conf.StackLoggerImpl" level="info" additivity="true">
		<appender-ref ref="SipRollingFile" />
	</logger>

</configuration>